$color-primary: #84a9ff;
$color-secondary: #def2ff;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.4rem 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $color-primary;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.itemList-print__area {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .itemList-print__area {
    justify-content: center;
  }
}

.itemList-item {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid $color-primary;
  border-radius: 10px;
  text-align: left;
  &__image {
    width: 16rem;
    height: 12rem;
    object-fit: cover;
  }
}

.cart {
  position: fixed;
  background-color: $color-primary;
  top: 5rem;
  right: -100%;
  width: 15rem;
  padding: 0.6rem;
  transition: right 0.5s ease;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
  border-radius: 0 0 0 10px;
  &-text {
    color: #ffffff;
    font-size: 1.6rem;
    margin: 0;
    text-shadow: 4px 4px 6px rgba(56, 2, 2, 0.3);
  }
  &-list {
    flex-direction: column;
    &-item {
      background-color: #ffffff;
      margin: 0.4rem 0;
      padding: 0.4rem;
      border-radius: 10px;
      &__incrDec {
        display: flex;
        gap: 0.6em;
      }
    }
  }
  &-modal {
    border: 1px solid $color-primary;
    border-radius: 10px;
    text-align: center;
  }
}

.cart.open {
  right: 0;
}

.navbackground {
  background-color: $color-primary;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 5rem;

  &-logo {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem;
    text-shadow: 4px 4px 6px rgba(56, 2, 2, 0.3);
  }
  &-cartButton {
    position: relative;
    border-radius: 50px;
    height: 4rem;
    width: 4rem;
    margin: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &__counter {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      color: #ffffff;
      border-radius: 50%;
    }
    &__icon {
      height: 2em;
      width: 2em;
    }
  }
}

.total {
  color: #ffffff;
  line-height: 0.8rem;
  margin-bottom: 0.6rem;
}
